.m{
    margin-left: 100px;
    width:200px;
    padding-left: 500px;

    
}
.a{
    margin-left;200px;
   
}
body{
    background-color:azure;
    
    
}
.k{
    border-radius: 12px;
    border: 1px solid royalblue;

}
.h{
    border-radius: 12px;
    border: 1px solid royalblue;
}
.v{
    border-radius: 12px;
    border: 1px solid royalblue;
    
}
.p{
    border-radius: 12px;
    border: 1px solid royalblue;
}
.i{
    border-radius: 12px;
    border: 1px solid royalblue;
}
.e{
    border-radius: 12px;
    border: 1px solid royalblue;
}